body.splash-page {
    width: 2251px;
    height: 1500px;
    /* Black background with opacity over top of image */
    background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),
    url('http://cdn.tenebris.us/backgrounds/lake-mcdonald-landscape-panorama-sunset-158385.jpeg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.splash-page img.logo {
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
